---
import Layout from "../../layouts/Layout.astro";
import type {IBlogCardProps} from "../../types";
import BlogList from "../../components/svelte/BlogList/BlogList.svelte";

import {topics} from "../../assets/data/blog/blog.json"; // interessant der TS compiler erkennt das JSON file und kann es als typescript type erkennen.
const blogTopics: IBlogCardProps[] = topics;
---

<Layout title="Blog" description="Hier findest du alle Blogeinträge.">
  <h1>Blog</h1>
  <ul>
    {blogTopics.length === 0 ? <p style="color: red;">Es sind noch keine Blogeinträge vorhanden.</p> : <BlogList topics={blogTopics} client:load></BlogList> }
  </ul>
</Layout>

<style>
  ul {
    list-style: none;
    padding: 6px;
  }
  h1 {
    text-align: center;
    padding: 16px;
  }
</style>
