---
import Layout from "../layouts/Layout.astro";
import { Content, frontmatter } from '../markdown/about.md';
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <h1>About</h1>
  <Content/>
</Layout>