---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";

import blogData from "../assets/data/blog/blog.json";
---

<Layout>
  <h1>Blog</h1>
  <ul>
    {blogData.topics.map((topic) => <BlogCard title={topic.title} description={topic.description} href={topic.href} date={topic.date}></BlogCard>)}
  </ul>
</Layout>

<style>
  ul {
    list-style: none;
    padding: 6px;
  }
  h1 {
    text-align: center;
    padding: 16px;
  }
</style>
