---
const {title, description, href, date} = Astro.props;
---

<li>
    <a href={href}>
        <p class="title">{title}</p>
        <p>{description}</p>
        <span>{date}</span>
    </a>
</li>

<style>
    

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rebeccapurple;
        color: white;
        margin: 15px 0;
        padding: 10px;
        border-radius: 6px;
        outline: 2px solid rgba(99, 102, 241, 0);
        outline-offset: 0px;
    }
    li > a {

        text-align: center;
        width: 100%;
        padding: 6px;
    }

    li:hover {
        outline: 2px solid rgba(99, 102, 241, 1);
        outline-offset: 6px;
    }

    li:active {
        background-color: #6366f1;
        color: violet;
    }

    .title {
        margin: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        background-color: black;
        padding: 0 8px;
        border-radius: 6px;
    }

</style>