---
const items = Astro.props;
---

<li>
    <div>
        <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer">TypeScript</a>
    </div>
</li>

<style>
    li {
        background-color: rebeccapurple;
        color: white;
        text-align: center;
        border-radius: 6px;
        margin: 15px 0;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>