---
const {title, description, href, date} = Astro.props;
---

<li>
    <a href={href} target="_blank" rel="noopener noreferrer">
        <p>{title}</p>
        <p>{description}</p>
        <span>{date}</span>
    </a>
</li>

<style>
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rebeccapurple;
        color: white;
        border-radius: 6px;
    }
    li > a {

        text-align: center;
        margin: 15px 0;
        width: 100%;
        padding: 6px;
    }
</style>