---
import type { MarkdownHeading } from "astro";

const { items } = Astro.props as {
  items: MarkdownHeading[];
};
---

<aside class="toc-sidebar">
  <h2>Inhaltsverzeichnis</h2>
  <ul>
    {
      items.map((item) => (
        <li>
          <div>
            <a href={"#" + item.slug}>{item.text}</a>
          </div>
        </li>
      ))
    }
  </ul>
</aside>

<style>
  aside {
    position: sticky;
    top: 0;
  }
   
  a.active {
    color: red;
  }

  @media (max-width: 1000px) {
    .toc-sidebar {
      display: none;
    }
  }
</style>

